<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="navigation-bar">
      <div class="logo">
        <img src="logo" alt="">
      </div>
      <div class="nav-links">

          <a routerLink="news" class="nav-row" >NEWS</a>
          <a routerLink="emp" class="nav-row" >EMPLOYEE</a>
          <a routerLink="twt" class="nav-row" >TWITTER</a>

     </div>
    </div>

  </body>
</html>

