<table class="table table-striped" *ngFor="let employee of result ">
  <tr>
    <td>First Name</td><td>{{employee.first_name}} </td>
  </tr>

  <tr>
    <td>Last Name</td><td>{{employee.last_name}}</td>
  </tr>

  <tr>
    <td>Email</td><td>{{employee.email}}</td>
  </tr>

  <tr>
    <td>Phone</td><td>{{employee.phone}}</td>
  </tr>

  <tr>
    <td>Organization</td><td>{{employee.organization}}</td>
  </tr>

  <tr>
    <td>Designation</td><td>{{employee.designation}}</td>
  </tr>

  <tr>
    <td>Salary</td><td>{{employee.salary}}</td>
  </tr>

</table>
