

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}.avatar {
  vertical-align: middle;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}.card{
  border-radius: 10px 10px 10px 10px;
}.btn-color{
  background: linear-gradient(128.58deg, #0F123F 14.67%, #3A408F 86.8%);
border-radius: 0px 0px 10px 10px;
height: 44px;
}.btn-font{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.02em;
text-align: center;
vertical-align: middle;
color: #FFFFFF;
padding-top: 10px;

}.mdt-1{

  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #0F123F;
}mdt-2{

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

color: #0F123F;

}.card-body{
  text-align: center;
}.dots{

  text-align: center;
}.result-font{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;

color: #0F123F;

}.btn-1{
  background: linear-gradient(90deg, #FF6968 0%, #FFA3A3 100%);
  box-shadow: 0px 20px 70px rgba(86, 89, 146, 0.1);
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 154% */
  vertical-align: middle;


  color: #FFFFFF;
  }


